gaia
a.out

programs/
opcodes/opcodes.txt
opcodes/65C02ops.csv
pseudocode/

tests/symbol_table/test_symbol_table

tests/prime/test_prime

tests/lexer/test_lexer

tests/opcode/test_opcode
tests/opcode/gen/bitfields.h

tests/parser/test_parser1
tests/parser/test_parser2

tests/forward_reference/test_forward_reference

tests/error/test_error

tests/assemble/test_assemble
tests/assemble/gen/assemble.c
tests/assemble/gen/assemble.h

tests/generator/test_generator
tests/generator/generate_code.out
tests/generator/resolve_label_ref.out
tests/generator/too_big_offset_no_forward_ref.out
tests/generator/resolve_forward_ref.out
tests/generator/too_big_offset_with_forward_ref.out